.pokego-manage {
    @pokego-pink: #FF50DD;
    
    &__map {
        float: left;
        height: 500px;
        width: 40%;
        margin-top: 10px;
        
        #gmap {
            height: 500px;
        }
        
        &__input {
            position: absolute;
            top: 25px;
            left: 15px;
            width: 300px;
            
            .coral-Form-field {
                width: 100%;
            }
        }
        
        &__text {
            max-width: 200px;
        }

        &__image {
            max-height: 100px;
            display: block;
            margin: auto;
            margin-bottom: 10px;
        }
    }
    
    &__lures {
        float: left;
        width: 60%;
        
        &__item {
            img {
                height: 175px;
            }
            
            coral-quick-actions {
                position: absolute;
                top: 0px;
                right: 10px;
                
                button {
                    padding: 0px 0px 0px 3px;
                }
            }
            
            coral-quick-actions.is-open {
                display: block;
                visibility: visible;
            }
            
            coral-card-content {
                border-left: 10px solid #DDD;
            }
        }
        
        &__item.active {
            coral-card-content {
                border-left: 10px solid @pokego-pink;
            }  
        }
    }
}

.hidden {
    display: none;
}